body {
  background-color:#172049;
  margin: 0;
  padding: 0;
  width:100%;
  height:100vh;
}
h1{
color:#30b49d;
text-align: center;
text-decoration: underline;
}
.add-project {
   margin-bottom: 2%;
   margin-left:4% ;
   border-radius: 0.75rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   background-color: #9be7ce;
   color:blueviolet;
   font-weight:900;
}
.add-project:hover{
  box-shadow: 6px 6px 6px black;

}

.project {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,0.8);
  width:90%;
  margin:1% auto;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header input {
  font-size: 18px;
  font-weight: bold;
  width: 70%;
}

.tasks {
  margin-top: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.task input {
  width: 70%;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

select {
  margin-left: 10px;
}

.tasks{
  background-color: rgb(75, 75, 185);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px;
}
.task button{
  background-color: rgb(252, 99, 99);
}
#addn{
  background-color: rgb(102, 231, 102);
}
#del{
  background-color:rgb(252, 99, 99) ;
}

@media (max-width: 600px) {
  body{
    font-size:40px;
  }
  .container {
    width: 90%;
    margin:auto;
  }
    h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .add-project {
    width: 80%;

  }
  .task input,select,button {
    width: 90%;
  }

